*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img img{
    width: 150px; 
  height: 150px; 
  border-radius: 50%; 
  object-fit: cover; 

}
header{
    background-color:#00b4d8 ;
   
       
}
header a{
    text-decoration: none;
}
.container{
    max-width: 1700px;
    padding: 0 15px;
    margin: 0 auto;
    
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu a {
 margin: 3px;
 color: aliceblue;
}